<app-toolbar/>

<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="layout">
      <div class="left">
        <mat-icon>school</mat-icon>  Created by Christian Fries
      </div>
      <div class="right align-right">
        <button mat-icon-button class="info-button" (click)="openInfo()"><mat-icon>info</mat-icon></button>
      </div>
    </div>
  </div>
</footer>
