footer {
  margin-top: 120px;
  padding: 100px 0 100px;
  background: #f7f7f7;

  .left {
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 15px;
    }
  }

  .align-right {
    text-align: right;
  }
}
