<div class="header">
  <h2>Statistics</h2>

  <div class="flex-spacer"></div>

  <button mat-icon-button (click)="resetStatistics()" matTooltip="Reset this statistic" matTooltipPosition="below"><mat-icon matSuffix>replay</mat-icon></button>
</div>

<div class="tables">
  <div>
    <table class="table">
      <tr>
        <th class="text-right">MySQL</th>
      </tr>
      <tr *ngFor="let statistic of (localStatistics$ | async)?.mysql?.records">
        <td class="text-right">{{ statistic }} ms</td>
      </tr>
    </table>
  </div>
  <div>
    <table class="table">
      <tr>
        <th class="text-right">Neo4j</th>
      </tr>
      <tr *ngFor="let statistic of (localStatistics$ | async)?.neo4j?.records">
        <td class="text-right">{{ statistic }} ms</td>
      </tr>
    </table>
  </div>
</div>


<table class="table">
  <tr>
    <th width="50%" class="text-right">AVG {{ (localStatistics$ | async)?.mysql?.avg }} ms</th>
    <th class="text-right">AVG {{ (localStatistics$ | async)?.neo4j?.avg }} ms</th>
  </tr>
</table>
