button.mdc-icon-button {
  margin-top: -10px;
}

//.table {
//  margin-bottom: 50px;
//}

.tables {
  display: flex;
  flex-wrap: wrap;

  > div {
    flex: 1 1 50%;
  }
}

.text-right {
  text-align: right;
}
