{% extends 'base.html.twig' %}

{% block title %}Neo4j: Friends{% endblock %}

{% block body %}
<div class="container">
    <h1>Friends</h1>
    <div class="row mb-3">
        <div class="col-12 col-md-4">
            <p>Total number of persons: {{ result | length }}</p>
        </div>
        <div class="col-12 col-md-8 d-flex justify-content-end">
        </div>
    </div>

    <table class="table table-striped">
        {% for r in result %}
            <tr id="p{{ r.f.properties.personId }}">
                <td>{{ r.f.properties.gender }}</td>
                <td>{{ r.f.properties.firstName }}</td>
                <td>{{ r.f.properties.lastName }}</td>
                <td>{{ r.f.properties.language }}</td>
                <td>{{ r.f.properties.country }}</td>
                <td>{{ r.f.properties.birthDate.toDateTime | date("Y-m-d") }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
