<div class="profile" *ngIf="topic$ | async as topic; else loading">
  <div class="profile-header">
    <h2>{{ data.topic.name }}</h2>

    <div class="flex-spacer"></div>

    <button mat-flat-button *ngIf="!topic.topic.likes" (click)="like(topic.topic.id)">Like</button>
    <button mat-flat-button *ngIf="topic.topic.likes" (click)="unlike(topic.topic.id)">Unlike</button>
    <button mat-flat-button mat-dialog-close>Close</button>
  </div>

  <div>
    <div class="profile-section liked-by">
      <h3>People that like that topic ({{ topic.persons.length}})</h3>

      <div class="card-list">
        <div class="card" *ngFor="let person of topic.persons">
          <mat-card (click)="openPerson(person)">
            <mat-card-content>
              {{ person.first_name }} {{ person.last_name }}
              <div *ngIf="person.mutual" matTooltip="Mutual friend" class="checkmark-mutual"><mat-icon>check</mat-icon></div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
