.profile-header {
  align-items: center;
  background: #0b5ed7;
  box-sizing: border-box;
  padding: 12px 20px;
  display: flex;
  height: 84px;

  &.profile-header-female {
    background: #670bd7;
  }

  img {
    width: 60px;
    height: auto;
    margin-right: 20px;
  }

  h2 {
    margin: 0;
    color: white;
  }

  button {
    margin-left: 22px;
  }
}

.profile-section {
  padding: 20px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 -15px;

  .card {
    flex: 1 1 25%;
    max-width: 25%;
    padding: 0 15px;
    margin-bottom: 20px;
    box-sizing: border-box;

    mat-card-content {
      position: relative;
    }
  }
}

.checkmark-mutual {
  color: #689a54;
  position: absolute;
  right: 18px;
  top: 13px;
}

mat-card {
  cursor: pointer;
}

.loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 120px;
}
