<div class="profile" *ngIf="profile$ | async as profile; else loading">
  <div class="profile-header profile-header-{{ profile.person.gender }}">
    <img src="assets/avatar_{{ profile.person.gender }}.png" alt="avatar">
    <h2>{{profile.person.firstName}} {{profile.person.lastName}}</h2>

    <div class="flex-spacer"></div>

    <button mat-flat-button *ngIf="!profile.person.isFriend" (click)="addAsFriend(profile.person.id)">Add as friend</button>
    <button mat-flat-button *ngIf="profile.person.isFriend" (click)="removeAsFriend(profile.person.id)">Remove as friend</button>
    <button mat-flat-button mat-dialog-close>Close</button>
  </div>

  <div>
    <div class="profile-section topics">
      <h3>Likes ({{ profile.topics.length}})</h3>

      <div class="card-list">
        <div class="card" *ngFor="let topic of profile.topics">
          <mat-card (click)="openTopic(topic)">
            <mat-card-content>
              {{ topic.name }}
              <div *ngIf="topic.mutual" matTooltip="Mutual topic" class="checkmark-mutual"><mat-icon>check</mat-icon></div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="profile-section common-friends">
      <h3>Friends ({{ profile.friends.length}})</h3>

      <div class="card-list">
        <div class="card" *ngFor="let person of profile.friends">
          <mat-card (click)="openPerson(person)">
            <mat-card-content>
              {{ person.first_name }} {{ person.last_name }}
              <div *ngIf="person.mutual" matTooltip="Mutual friend" class="checkmark-mutual"><mat-icon>check</mat-icon></div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>




