/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.page-container {
  padding-bottom: 80px;
  padding-top: 40px;
  min-height: 50vh;
}

h1 {
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 0;
}

h2 {
  font-weight: 300;
  margin-top: 0;
}

.table {
  width: 100%;
  border-spacing: 0;

  tr th {
    font-weight: bold;
    border-bottom: 2px solid #eee;
  }

  th,
  td {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    text-align: left;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.header {
  display: flex;
}

.flex-spacer {
  flex-grow: 1;
}

.layout {
  display: flex;
  margin-left: -25px;
  margin-right: -25px;

  .left {
    width: 70%;
    padding: 0 25px;
  }

  .right {
    width: 30%;
    padding: 0 25px;
  }
}

.text-right {
  text-align: right;
}

.clickable-row {
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}
