<div class="container page-container">
  <div class="header">
    <h1>Auto-Suggest</h1>

    <div class="flex-spacer"></div>
    <button mat-stroked-button color="primary" (click)="runAgain()" [disabled]="searchQuery.length < 2" matTooltip="Run the query again"
            matTooltipPosition="below">Run again
    </button>

  </div>

  <div class="layout">
    <div class="left">
      <h2>Auto-Suggest field</h2>
      <mat-form-field class="auto-suggest-field">
        <mat-label>Auto Suggest</mat-label>
        <input type="text" matInput placeholder="Search with auto-suggest" maxlength="50" [(ngModel)]="searchQuery" (ngModelChange)="this.search.next($event)"
               cdkFocusInitial autocomplete="off">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <div *ngIf="results$ | async as results">
        <div class="result-panel" *ngIf="searchQuery.length > 1">
          <div class="item" *ngFor="let result of results.data" [ngClass]="{connected: result.connected}" (click)="open(result)">
            <div class="label">
              {{result.label}}
            </div>
            <small>{{ result.type }}</small>
          </div>

          <div class="no-result" *ngIf="results?.data?.length == 0">
            <p>No result found for <span class="highlighted-word">{{searchQuery}}</span>.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <app-statistics useCase="auto-suggest"></app-statistics>
    </div>
  </div>

</div>
