.auto-suggest-field {
  width: 100%;
  max-width: 400px;
}

.result-panel {
  background: whitesmoke;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px 0;

  .item {
    padding: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;

    &.connected {
      .label {
        font-weight: bold;
      }
    }

    small {
      color: gray;
      font-size: 11px;
      text-transform: uppercase;
    }

    &:hover {
      background: #e9e9e9;
    }
  }

  .no-result {
    padding: 5px;

    .highlighted-word {
      font-style: italic;
    }
  }
}
