<div class="container page-container">
  <div class="header">
    <h1>Friends Recommendation 2</h1>

    <div class="flex-spacer"></div>

    <button mat-stroked-button color="primary" (click)="runAgain()" matTooltip="Run the query again" matTooltipPosition="below">Run again</button>
  </div>

  <div class="layout">
    <div class="left">
      <div *ngIf="friends$ | async as friends">
        <h2>Result ({{ friends.count }} Items)</h2>
        <table class="table">
          <tr>
            <th width="15%">ID</th>
            <th width="30%">First name</th>
            <th width="30%">Last name</th>
            <th width="25%">Weight</th>
          </tr>
          <tr *ngFor="let friend of friends.data" (click)="openProfile(friend.id, friend)" class="clickable-row">
            <td>{{ friend.id}}</td>
            <td>{{ friend.firstName}}</td>
            <td>{{ friend.lastName}}</td>
            <td>{{ friend.weight}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="right">
      <app-statistics useCase="friends-recommendation-2"></app-statistics>
    </div>
  </div>
</div>
