<h2 mat-dialog-title>Demo of Use Cases</h2>
<mat-dialog-content>
  <p>As part of my master thesis, several use cases were defined. In this tool, you can test the different use cases by choosing one from the navigation. On the top right side, you can choose the database engine you want to use for the test. Please note that the results should be the same, no matter which DB engine you choose.</p>
  <p>Depending on selected database engine, the requests are sent to a different api endpoint, which in terms uses the selected database engine to execute the queries.</p>
  <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-content>



