<mat-toolbar class="app-toolbar" color="primary">
  <div class="container toolbar-container">

    <div class="selector">
      <div class="db-selector-label">
        Use Case
      </div>
      <mat-button-toggle-group [ngModel]="url" (change)="navigate($event)" class="db-selector" aria-label="Database">
        <mat-button-toggle class="db-selector-button" [value]="'/friends'"><span class="toggle-button-text">Friends</span></mat-button-toggle>
        <mat-button-toggle class="db-selector-button" [value]="'/friends-recommendation'"><span class="toggle-button-text">Recommendation</span></mat-button-toggle>
        <mat-button-toggle class="db-selector-button" [value]="'/friends-recommendation-2'"><span class="toggle-button-text">Recommendation 2</span></mat-button-toggle>
        <mat-button-toggle class="db-selector-button" [value]="'/autosuggest'"><span class="toggle-button-text">Auto-Suggest</span></mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="flex-spacer"></div>

    <div class="selector">
      <div class="db-selector-label">
        Person
      </div>
      <mat-button-toggle-group [ngModel]="user" (change)="changeUser($event)" class="db-selector" aria-label="Database">
        <mat-button-toggle class="db-selector-button" [value]="112"><span class="toggle-button-text">John</span></mat-button-toggle>
        <mat-button-toggle class="db-selector-button" [value]="41127"><span class="toggle-button-text">Bella</span></mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="selector selector-db">
      <div class="db-selector-label">
        DB Engine
      </div>
      <mat-button-toggle-group [ngModel]="db" (change)="changeDatabase($event)" class="db-selector" aria-label="Database">
        <mat-button-toggle class="db-selector-button" value="mysql"><span class="toggle-button-text">MySQL</span></mat-button-toggle>
        <mat-button-toggle class="db-selector-button" value="neo4j"><span class="toggle-button-text">Neo4j</span></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" class="loading-indicator" [ngClass]="{'visible': loading | async}"></mat-progress-bar>
