.app-toolbar {
  display: block;
  padding: 0;
}

.toolbar-container {
  display: flex;
  align-items: center;
  height: var(--mat-toolbar-standard-height)
}

.title {
  color: white;
  margin-right: 40px;
  text-decoration: none;
}

.active {
  background-color: rgba(0,0,0,0.18) !important;
}

.selector {
  display: flex;
}

.selector-db {
  padding-left: 86px;
}

.db-selector-label {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.125px;
  padding-right: 12px;
}

.db-selector {
  border: 0;
  font-size: 14px;
  --mat-standard-button-toggle-height: 32px;
}

.db-selector-button {
  background-color: rgba(0,0,0,0.08);
  color: white;

  .mat-button-toggle-label-content {
    letter-spacing: 1.25px;
  }

  &.mat-button-toggle-checked {
    background-color: rgba(0,0,0,0.18);
    color: white;
  }

  +.db-selector-button {
    border-left: 1px solid rgba(0,0,0,0.18);
  }
}

.toggle-button-text {
  letter-spacing: 1.25px;
  font-weight: 500;
}

.loading-indicator {
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}

.info {
  padding-left: 20px;
}
